/*#header {
	z-index: 1;
	position: fixed;
	margin-top: 20px;
	width:100%;
	height:30px;
	border:5px solid black;
}*/
#topmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
	float:right;
li a {
	display: block;
}
}
.headlinks {
	text-align: right;
}
.signin {
	height: 26px;
	width: 81px;
	background-color: ;
	color: #ffffff;
	border-radius: 1px;
	float: right;
	margin-right:25px;
}
#signintext {
	color: #ffffff;
	/*margin-top:10px; */
	font-family: Arial,sans_serif;
	text-align: center;
	text-size: em1.5;
	font-weight: bold;

}

#google_doodle {
	margin:auto;
	/*margin-top: 95px; */
	width: 546px;
	

}
